@font-face {
  font-family: "Kingthings Xstitch";
  src: url("./src/Kingthings Xstitch.ttf");
}

@font-face {
  font-family: "Home Sweet Home";
  src: url("./src/Home\ Sweet\ Home.otf");
}


body {
  background-image: url("./src/fabric.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  gap: 32px;

  overflow: hidden;
  font-family: "Kingthings Xstitch", sans-serif;

}

button {
  padding: 0.5em 1em;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  width: fit-content;
}

#navbar {
  font-family: "Bona Nova SC", sans-serif;
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  display: flex;
  gap: 16px;
  pointer-events: auto;
}

#navbar a {
  padding: 8px 16px;
  background: rgba(255, 255, 255, 0.9);
  color: #333;
  text-decoration: none;
  transition: background-color 0.2s;
  pointer-events: auto;
}

#navbar a:hover {
  background: rgba(255, 255, 255, 1);
  color: #888;
}

#title {
  font-family: 'Home Sweet Home', sans-serif;
  font-size: 4rem;
  color: rgb(0, 166, 211, 60);
  padding-left: 16px;
}

#heatmapList {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  padding: 16px;
}

#heatmapList div {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 6px;
  width: 40px;
  height: 40px;

  text-align: center;
}

#heatmapList a {
  text-decoration: none;
  color: #333;
  font-weight: bold;
}

#heatmapList a:hover {
  color: #0077cc;
}