@font-face {
  font-family: "Kingthings Xstitch";
  src: url("./src/Kingthings Xstitch.ttf");
}
@font-face {
  font-family: "Home Sweet Home";
  src: url("./src/Home\ Sweet\ Home.otf");
}

*,
body {
  box-sizing: border-box;
  font-family: "Kingthings Xstitch", sans-serif;
  
}

body {
  background-image: url("./src/fabric.jpg");
  background-size: cover;
  width: 100vw;
  height: 100vh;
  
  display: flex;
  flex-direction: column;
  align-items:space-between;
  gap: 32px;
  
    padding:16px;

}

button {
  padding: 0.5em 1em;
  background: white;
  color: black;
  border: none;
  cursor: pointer;
  width:fit-content;
}

  #canvasContainer {
      width: 100%;
      max-width: calc(100vw - 40px);
      display: flex;
      justify-content: center;
    }